html {
  scroll-behavior: smooth !important;
}

body {
  font-family: "Chakra Petch", serif;
  font-weight: 400;
  font-style: normal;
  color: #eaf6ff !important;
}

.text-light {
  color: #eaf6ff !important;
}

.primary-color {
  background-color: #27445d !important;
}

.text-primary-color {
  color: #27445d;
}

.secondary-color {
  background-color: #497d74;
}

.third-color {
  background-color: #27445d;
}

.skill-icon {
  width: 95px;
  height: auto;
}

.skill-icon:hover {
  transition: transform 0.2s ease 0.1s;
  transform: scale(1.1);
}

.custom-title {
  font-size: 2.5rem;
  margin-bottom: 4.5rem;
  margin-top: 4.5rem;
}

.custom-line-height {
  line-height: 1.6;
}

@media (min-width: 650px) {
  body {
    font-size: 1.25rem;
  }

  .btn-lg-lg {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
  }
}
